<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6gz1E7D9IrYuhgSbNp6liuwJtMkDePoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>918988440210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timelyFrontEnd</string>
	<key>PROJECT_ID</key>
	<string>timely-aeb0ba</string>
	<key>STORAGE_BUCKET</key>
	<string>timely-aeb0ba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918988440210:ios:144ec1a2d67989b9fb1c4b</string>
</dict>
</plist>